/* geral */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: hsl(235, 18%, 26%);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: hsl(234, 29%, 20%);
}

p {
    font-size: 16px;
    line-height: 1.5rem;
}

.conteudo {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    width: 850px;
    padding: 1.2rem;
    border-radius: 30px; 
    
}

/* formulário */

#form {
    margin: 30px;
    margin-right: 60px;
}

h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 0px;
}

ul {
    line-height: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    font-size: 13px;
}

input[type="text"] {
    font-family: "Roboto", sans-serif;
    padding: 10px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border-color: hsl(231, 7%, 60%);
    border-width: 1px;
}

input[type="submit"] {
    background-color: hsl(234, 29%, 20%);
    font-family: "Roboto", sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding: 10px;
    border: 0px;    
    border-radius: 5px;
}

/* mensagens */

#success-message {
    display: none;
}

span {
    display: none;
}

span {
    color: hsl(4, 100%, 67%);
    font-size: 12px;
    text-align: right;
}

/* footer */

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
